# Ignore compiled Python files
*.pyc

# Ignore virtual environment directories
venv/
virtual-model/
env/
# Ignore pipenv environment
Pipfile
Pipfile.lock
# Ignore Dataset
/Dataset

# Ignore the requirements file
requirements.txt