# Ignore compiled Python files
*.pyc

# Ignore virtual environment directories
venv/
virtual-model/
env/
Dataset/
# Ignore pipenv environment
Pipfile
Pipfile.lock

# Ignore the requirements file
requirements.txt